* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size:1.25rem;

    background-color:#ccc;
    width:100%;
    height:100vh;
}

h1 {
    font-weight: bold;
    color:green;
    font-size:32px;
}

.change-password-container {
    background-color: #fff;
    width:664px;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    padding: 20px;

    box-shadow: 0 0 5px rgba(0,0,0,.5);
    border-radius:16px;
}

.chang-password-form {
    background-color:#fff;
    border-radius: 16px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:64px;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 8px;

    .form-entry {
        display: flex;
        flex-direction: column;
        gap:2px;

        .entry-label {
            margin:0;
            font-style: oblique;
        }

        .entry-input {
            outline: none;
            padding:4px;
            border: none;
            border-bottom: 2px solid black;
        }
    }
}

.right-part {
    .cat-img {
        width:300px;
        border-radius: 16px;
    }
}

.green {
    background: green;
    opacity: 40%;
}

.red {
    background: red;
    opacity: 40%;
}