* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width:100%;
    height:100vh;
    /*!* 背景渐变色 - 原理2 *!*/
    background-image: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    /*!* 背景尺寸 - 原理3 *!*/
    background-size: 600% 600%;
    /*!* 循环动画 - 原理4 *!*/
    animation: gradientBG 5s ease infinite;
}
/* 动画，控制背景 background-position */
@keyframes gradientBG {
     0% {
         background-position: 0% 50%;
     }
     50% {
         background-position: 100% 50%;
     }
     100% {
         background-position: 0% 50%;
     }
}

#app {
    width:90%;
    border:12px solid #000;
    box-shadow: 0 0 8px rgba(0,0,0,.5);
    position: relative;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}

h1 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 3ex;
    font-weight: 900;
    color: #666;
}

h2 {
    margin: 2ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 2ex;
    color: #444;
    font-family: "Playwrite GB S", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

h3 {
    margin: 1ex 0ex 1ex 0ex;
    padding: 0ex;

    line-height: 1.6ex;
    font-weight: 700;
    color: #222;
}

p {
    font-family: helvetica, tahoma, arial, verdana, sans-serif;

    margin: 0ex 0ex 0ex 0ex;
    padding: 2ex;
}

table {
    border-width: 0;
    empty-cells: show;
}

td, th {
    empty-cells: show;
    padding: .3ex .3ex;
    vertical-align: top;
    text-align: left;
    border-width: 0;
    border-spacing: 0;
    background-color: #ececec
}

th {
    font-weight: bold;
    background-color: #e2e2e2;
}

a {
    color:#eaac00;
}

a:hover, a:link {
    color: #54c07a;

    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
}

a.Button, a.Button:link, a.Button:visited {
    border-radius: 6px;
    padding: 3px;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
}

a.Button:hover {
    color: #000;
    background-color: #54c07a;
}

#Header {
    background-color: #000;
    display:flex;
    justify-content: center;
    align-items: center;
}

#MenuContent {
    display:flex;
    flex-direction: row;
    gap:10px;
    justify-content: center;
    align-items: center;

    a {
        color:#54c07a;
    }

    a:hover {
        color:#eaac00;
    }
}

#Search {
    margin-left:72px;
}

#Search input {
    outline:none;
    border:none;
    padding:10px;
    background-color: #666;
    color: #eaac00;
    cursor: pointer;
    border-radius:16px;
}

#Search input:hover, #Search input:focus {
    color:black;
    background-color: #fff;
}

#QuickLinks {
    background-color: white;
    padding-top:6px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#Main {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 20px;
    padding-left:20px;
    height:60vh;
    display: grid;
    grid-template-columns: 20% 50% 1fr;
    gap:36px;
}

#SidebarContent {
    grid-column:1/2;
    border-radius: 10px;
    background-color: rgba(211,211,211,.3);
    width:min-content;
    padding:20px;
    box-shadow: 10px 10px 4px rgba(0,0,0,.3);
}

#MainImage {
    grid-column: 2/3;
    justify-self: center;
    align-self: center;
}

.profile-table {
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
}

#Footer {
    padding-top:10px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Content {
    margin: 0;
    padding: 0ex 0ex 0ex 0ex;
    width: 99%;
    color: #333;
    background-color: #FFF;
    border-width: 0;
}

#Catalog {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
}

#Catalog-Cart {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#Cart {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
}

#Catalog input[type="submit"]{
    padding: .3ex;
    color: #fff;
    background-color: #005e21;
    text-decoration: none;
    font-family: helvetica, tahoma, arial, verdana, sans-serif;
    font-size: 1.5ex;
    border-width:0;
}
#Catalog input[type="submit"]:hover {
    color: #000;
    background-color: #54c07a;
    cursor:pointer;
}

#Catalog table{
    margin-left:auto;
    margin-right:auto;
}

#BackLink{
    display:flex;
    justify-content: end;
    background-color: white;
}

#BackLink a {
    margin-right: 16px;
    margin-bottom: 16px;
    background-color: rgba(0,0,0,.5);
    padding: 16px;
    border-radius: 6px;
}

#BackLink a:hover {
    color:black;
    background: white;
    border: grey 2px;
}

#Cart{
    width: 69.99%;
    float: left;
    background-color:#fff;
}

#MyList{
    width: 30%;
    float: left;
    text-align:left;
    padding:20px;
    border-radius: 12px;
    background-color: #ececec23;
    box-shadow: 0 0 5px rgba(0,0, 0, .5);
}

.CatalogButton{
    width:60px;
    height:30px;
}

.MainBanner ul{
    list-style: none;
    display: flex;
}

.MainBanner{
    position: absolute;
    right: 8%;
    width: 512px;
    height: 256px;
    border: 2px solid #ccc;
    margin: 25px auto;
    overflow: hidden;
    margin-top: 50px;
}

.MainBannerImage{
    margin: 0;
    position: absolute;
    width: 512px;
    height: 256px;
    top: 0;
    left: 0;
}

.MainBannerImage ul{
    display: inline;
    width: 100%;
}

.MainBannerImage li{
    display: inline;
    float: left;
}

.MainBannerNum{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 0;
}

.MainBannerNum li{
    width: 10px;
    height: 10px;
    background:rgba(0,0,0,0.5);
    border-radius: 100%;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
}

.MainBannerBtn{
    display: none;
}

.MainBannerBtn span{
    display: block;
    width: 50px;
    height: 100px;
    background: rgba(0,0,0,0.6);
    color: #fff;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    cursor:pointer;
}


.MainBannerBtn .MainBannerPrev{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -50px;
}

.MainBannerBtn .MainBannerNext{
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -50px;
}

.MainBannerNum .active{
    background-color: #fff;
}

.hide{
    display: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    border: 1px solid #ADD8E6; /* 淡蓝色边框 */
}

th, td {
    border: 1px solid #ADD8E6; /* 淡蓝色边框 */
    padding: 8px;
    text-align: left;
}

th {
    background-color: #F0F8FF; /* 浅蓝色背景 */
    color: #003366; /* 深蓝色文本 */
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #F5F5F5; /* 偶数行背景色 */
}

tr:hover {
    background-color: #E6E6FA; /* 鼠标悬停时的背景色 */
}

#Catalog table{
    width: 75%;
}