<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <servlet>
        <servlet-name>MainForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.MainFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.ItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddItemToCart</servlet-name>
        <servlet-class>org.example.lab.web.servlet.AddItemToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCart</servlet-name>
        <servlet-class>org.example.lab.web.servlet.UpdateCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItem</servlet-name>
        <servlet-class>org.example.lab.web.servlet.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.CartFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOnForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.SignOnFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewOrderForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.NewOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShippingForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.ShippingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOn</servlet-name>
        <servlet-class>org.example.lab.web.servlet.SignOnServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommitOrderForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.CommitOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmOrderForm</servlet-name>
        <servlet-class>org.example.lab.web.servlet.ConfirmOrderFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrder</servlet-name>
        <servlet-class>org.example.lab.web.servlet.ViewOrderServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>SignOn</servlet-name>
        <url-pattern>/signOn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewOrderForm</servlet-name>
        <url-pattern>/newOrderForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOnForm</servlet-name>
        <url-pattern>/signOnForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartForm</servlet-name>
        <url-pattern>/cartForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItem</servlet-name>
        <url-pattern>/removeCartItem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCart</servlet-name>
        <url-pattern>/updateCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddItemToCart</servlet-name>
        <url-pattern>/addItemToCart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemForm</servlet-name>
        <url-pattern>/itemForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductForm</servlet-name>
        <url-pattern>/productForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryForm</servlet-name>
        <url-pattern>/categoryForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShippingForm</servlet-name>
        <url-pattern>/shippingForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainForm</servlet-name>
        <url-pattern>/mainForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommitOrderForm</servlet-name>
        <url-pattern>/commitOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmOrderForm</servlet-name>
        <url-pattern>/confirmOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrder</servlet-name>
        <url-pattern>/viewOrder</url-pattern>
    </servlet-mapping>

</web-app>